.slider-table-wrapper {
  width: 100%;
  background-color: yellow;
  height: calc((54vw * 400) / 655);
  max-height: 467px;
}

@media only screen and (max-width: 1416px) {
  .slider-table-wrapper {
    height: calc(((54vw * 400) / 655) + 67px);
  }
}
