.nav-wrapper {
  width: 100vw;
  height: 88px;
  padding: 0 24px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-container {
  background-color: gray;
  padding: 24px 0;
  height: 40px;
  /* width: 1400px; */
  /* margin: 0 auto; */
  width: min(100% - 2rem, 1400px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-link {
  font-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
