.nav-wrapper {
  width: 100vw;
  height: 88px;
  padding: 0 24px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-container {
  background-color: gray;
  padding: 24px 0;
  height: 40px;
  /* width: 1400px; */
  /* margin: 0 auto; */
  width: min(100vw - 2rem, 1400px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name-container {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 10px;
  height: 30px;
}

.nav-link {
  font-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #646cff;
}

.nav-link > img {
  width: 30px;
  height: 30px;
}

.mobile-burger-menu {
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: none;
}

@media only screen and (max-width: 500px) {
  .mobile-nav-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }

  .mobile-burger-menu {
    display: inline;
  }

  .nav-links {
    position: absolute;
    top: 40px;
    flex-direction: column;
    width: 150px;
    height: 200px;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
  }

  .nav-link {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
  }

  .nav-link:hover {
    background-color: gray;
  }

  .mobile-menu-text {
    color: black;
    font-size: 18px;
    font-weight: 500;
  }

  @media (prefers-color-scheme: light) {
    .nav-links {
      background-color: #242424;
    }

    .mobile-menu-text {
      color: white;
    }
  }
}
