.interactive-slider-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.interactive-slider-left {
  width: 60%;
  max-width: 655px;
}

.interactive-slider-right {
  width: 40%;
}

.interactive-slider-title {
  width: 90%;
  margin-inline: auto;
  margin-top: 24px;
  text-align: center;
  font-size: 30px;
  color: var(--porcelain-color);
}

.interactive-slider-title-light {
  color: black;
}
