.interactive-slider-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.interactive-slider-left {
  width: 60%;
  height: 500px;
  max-width: 655px;
}

.interactive-slider-right {
  width: 40%;
  height: 500px;
}
