.color-explanation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin-inline: auto;
  margin-top: 48px;
}

.color-explanation-container > h2 {
  text-align: center;
}

.color-explanation-text-hover {
  cursor: help;
  position: relative;
  color: var(--rum-color);
}

.color-explanation-text-hover:hover {
  color: var(--salmon-color);
}

.hovered-text-body {
  width: 230px;
  color: var(--gray-color);
  height: 88px;
  position: absolute;
  background-color: var(--porcelain-color);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  padding: 5px;
  bottom: 18px;
  left: 50%;
}

.color-explanation-paragraph {
  padding: 0 5px;
}
