.slider-image {
  width: 100%;
  max-width: 655px;
  background-color: blue;
  height: calc(54vw * 400px / 655px);
  max-height: 400px;
  position: relative;
}

#slider-fillet-img {
  position: absolute;
  max-height: 400px;
  top: 0;
  z-index: 2;
  max-width: 655px;
}

#slider-fillet-color {
  max-height: 400px;
  position: relative;
  max-width: 655px;
}
