.comparison-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.comparison-table {
  display: flex;
  gap: 10px;
  width: 672px;
  min-width: 452px;
  justify-content: space-between;
}

.comparison-left-container {
  padding: 3px 0;
}

.comparison-divider {
  width: 2%;
  border-left: 3px solid var(--gray-color);
  box-sizing: border-box;
}

.comparison-right-container {
  padding: 3px 0;
}

@media only screen and (max-width: 950px) {
  .comparison-table {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
  }

  .comparison-left-container {
    width: 47.5%;
  }

  .comparison-right-container {
    width: 47.5%;
  }
}
