:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* website colors */
  --porcelain-color: #e4e7e9;
  --navy-color: #415094;
  --rum-color: #7f6b8d;
  --gray-color: #767c7c;
  --salmon-color: #fa8072;

  color: var(--gray-color);
}

a {
  font-weight: 500;
  color: var(--navy-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--rum-color);
}

body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
  position: relative;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: inherit;
  color: var(--navy-color);
}

h3 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: inherit;
  color: var(--navy-color);
}

p {
  font-size: 18px;
  margin: 0;
  font-weight: inherit;
  display: inherit;
  padding: 0 5px;
}

.salmon-text {
  color: var(--salmon-color);
}

.bold-text {
  font-weight: bold;
}

.italics-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

/* @media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
} */

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: #ffffff;
}

.background-dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: #242424;
}
